.education {
  margin: 0 auto;
  width: 60vw;
}

.qualification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;
  width: 40vw;
}

.institution {
  float: left;
}

.date {
  float: right;
}

.qualifications {
  text-align: left;
}

.gcses {
  margin-bottom: 30vh;
}
