.gateway {
  background-color: #eba8e6;
  display: flex;
  flex-direction: column;
  font-family: 'geometrica';
  font-weight: bold;
  height: 100vh;
  letter-spacing: 2px;
  text-align: center;
}

.prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35vh;
}

#password {
  border: none;
  font-family: 'geometrica';
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 20px;
  width: 35vw;
}

#password:focus {
  outline: none;
}

.error {
  color: red;
  margin-top: 5vh;
}

.submit {
  background-color: #ca58fa;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'geometrica';
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 5vh;
  outline: 0;
  padding: 4px;
  width: 8vw;
}
