.gateway {
  background-color: #eba8e6;
  display: flex;
  flex-direction: column;
  font-family: 'geometrica';
  font-weight: bold;
  height: 100vh;
  justify-content: center;
  letter-spacing: 2px;
  text-align: center;
}

.gateway-title {
  margin-bottom: 5vh;
}

#password {
  border-color: black;
  border-style: solid;
  font-family: 'geometrica';
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 35vw;
}

.submit {
  background-color: #ca58fa;
  cursor: pointer;
  font-family: 'geometrica';
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 3vh;
  outline: 0;
  width: 8vw;
}
