.projects {
  margin: 0 auto;
  width: 60vw;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;
  text-align: left;
}

.project-name {
  float: left;
}

.last-project {
  margin-bottom: 30vh;
}
