.work-experience {
  margin: 0 auto;
  width: 60vw;
}

.listings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20vh;
}

.listing {
  width: 30vw;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30vh;
  margin-top: 20vh;
}

.company-name {
  float: left;
}

.date {
  float: right;
}
