.about-header {
  color: white;
  font-family: 'skam';
  font-size: 3.5em;
}

.description {
  border-radius: 25px;
  border: 3px solid #ca58fa;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 10px;
  text-align: left;
  width: 55vw;
}
