@font-face {
  font-family: 'skam';
  src: url('fonts/Skam.otf') format('opentype');
}

@font-face {
  font-family: 'geometrica';
  src: url('fonts/Geometrica.ttf') format('truetype');
}

.main-body, .left-nav, .inner-body, .right-nav {
  display: flex;
  justify-content: center;
}

.left-nav, .inner-body, .right-nav {
  flex-direction: column;
}

.left-nav, .right-nav {
  color: white;
  font-size: 2em;
  padding-top: 6vh;
  width: 5vw;
}

.main-body {
  flex-direction: row;
  font-family: 'geometrica';
  letter-spacing: 2px;
  width: 100vw;
}

.inner-body {
  width: 88vw;
  font-size: 1.2em;
  color: black;
}

.icon-link {
  cursor: pointer;
  outline: 0;
}
