@font-face {
  font-family: 'skam';
  src: url('fonts/Skam.otf') format('opentype');
}

@font-face {
  font-family: 'geometrica';
  src: url('fonts/Geometrica.ttf') format('truetype');
}

/* @font-face {
  font-family: 'novar';
  src: url('fonts/Novar.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'kunt';
  src: url('fonts/Kunt.otf') format('opentype');
} */

/* @font-face {
  font-family: 'elaris';
  src: url('fonts/Elaris.otf') format('opentype');
} */

/* @font-face {
  font-family: 'expose';
  src: url('fonts/Expose.otf') format('opentype');
} */

/* @font-face {
  font-family: 'sfkingston';
  src: url('fonts/SF_Kingston.otf') format('opentype');
} */

/* @font-face {
  font-family: 'sfkingstonlight';
  src: url('fonts/SF_Kingston_Light.otf') format('opentype');
} */

/* @font-face {
  font-family: 'funkturm';
  src: url('fonts/Funkturm.woff') format('woff');
} */

.main-body {
  height: 100vh;
  width: 100vw;
  font-family: 'geometrica';
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  letter-spacing: 2px;
  font-weight: bold;
}

.left-nav {
  width: 5vw;
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  font-size: 2em;
}

.inner-body {
  width: 88vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5vh;
  font-size: 1.2em;
}

.right-nav {
  width: 5vw;
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  font-size: 2em;
}

.icon-link {
  cursor: pointer;
  outline: 0;
}
