.main-body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  font-family: Tahoma;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.left-nav {
  width: 5vw;
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  font-size: 2em;
}

.inner-body {
  width: 88vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5vh;
}

.right-nav {
  width: 5vw;
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  font-size: 2em;
}

.icon-link {
  cursor: pointer;
  outline: 0;
}
