@font-face {
  font-family: 'skam';
  src: url('fonts/Skam.otf') format('opentype');
}

@font-face {
  font-family: 'geometrica';
  src: url('fonts/Geometrica.ttf') format('truetype');
}

.main-body, .left-nav, .right-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-nav, .right-nav {
  color: white;
  font-size: 2em;
  padding-top: 6vh;
  width: 5vw;
}

.main-body {
  font-family: 'geometrica';
  letter-spacing: 2px;
}

.inner-body {
  color: black;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  width: 88vw;
}

.icon-link {
  cursor: pointer;
  outline: 0;
}

.title {
  margin-bottom: 7vh;
  margin-top: 20vh;
}

.header {
  color: white;
  font-family: 'skam';
  font-size: 3.5em;
  margin-top: 20vh;
}
