@font-face {
  font-family: 'skam';
  src: url('fonts/Skam.otf') format('opentype');
}

@font-face {
  font-family: 'geometrica';
  src: url('fonts/Geometrica.ttf') format('truetype');
}

.main-body {
  width: 100vw;
  font-family: 'geometrica';
  display: flex;
  justify-content: center;
  flex-direction: row;
  letter-spacing: 2px;
  font-weight: bold;
}

.left-nav {
  width: 5vw;
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  font-size: 2em;
  color: white;
}

.inner-body {
  width: 88vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2em;
  color: black;
}

.right-nav {
  width: 5vw;
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  font-size: 2em;
  color: white;
}

.icon-link {
  cursor: pointer;
  outline: 0;
}
