.contact-form {
  width: 88vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-header {
  text-decoration: underline;
}

.contact-content {
  width: 88vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.prompts {
  width: 10vw;
  text-align: left;
}

.inputs {
  width: 35vw;
}

.personal-info {
  width: 35vw;
  height: 4.5vh;
  margin-left: 5vw;
  padding-left: 2vw;
}

.message {
  width: 35vw;
  height: 30vh;
  margin-left: 5vw;
  padding-left: 2vw;
}
