.contact-form {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-header {
  font-size: 3em;
  font-family: 'skam';
  font-weight: normal;
}

.contact-content {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3vh;
}

.prompts {
  width: 10vw;
  text-align: left;
}

.inputs {
  width: 35vw;
}

.input {
  margin: 2px;
}

.personal-info {
  width: 35vw;
  height: 4.5vh;
  margin-left: 5vw;
  padding-left: 2vw;
}

.message {
  width: 35vw;
  height: 30vh;
  margin-left: 5vw;
  padding-left: 2vw;
}

.send{
  width: 7vw;
  height: 5vh;
  font-weight: bold;
  font-size: 1em;
}
