.contact-form {
  height: 150vh;
  /* width: 85vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-header {
  font-size: 3.5em;
  font-family: 'skam';
  font-weight: normal;
  letter-spacing: 0px;
  color:  #ca58fa;
  padding-bottom: 5vh;
}

.text {
  margin: 0;
}

.contact-content {
  /* width: 85vw; */
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex-direction: column;
  color: white;
}

.prompt {
  width: 85vw;
}

.input {
  margin: 2px;
  font-family: 'geometrica';
}

.personal-info {
  width: 35vw;
  height: 4.5vh;
  /* margin-left: 5vw;
  padding-left: 2vw; */
}

.message {
  width: 35vw;
  height: 30vh;
  /* margin-left: 5vw;
  padding-left: 2vw; */
}

.send{
  width: 7vw;
  height: 5vh;
  font-weight: bold;
  font-size: 1em;
  font-family: 'geometrica';
}
