.contact-form {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.contact-header {
  text-decoration: underline;
  font-size: 1.25em;
  margin-bottom: 6vh;
}

.contact-content {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3vh;
}

.prompts {
  width: 10vw;
  text-align: left;
}

.inputs {
  width: 35vw;
}

.personal-info {
  width: 35vw;
  height: 4.5vh;
  margin-left: 5vw;
  padding-left: 2vw;
  font-family: Tahoma;
}

.message {
  width: 35vw;
  height: 30vh;
  margin-left: 5vw;
  padding-left: 2vw;
  font-family: Tahoma;
}
