.menu {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'geometrica';
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.menu-header {
  font-family: 'skam';
  font-size: 5em;
}

.text {
  margin: 0;
}
