.menu {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.menu-header {
  text-decoration: underline
}
