.menu {
  text-align: center;
}

.menu-header {
  color: #ca58fa;
  font-family: 'skam';
  font-size: 5em;
  letter-spacing: 0px;
}

.title {
  margin-bottom: 7vh;
  margin-top: 20vh;
}

.menu-content {
  color: white;
  font-weight: bold;
}
