.menu {
  width: 85vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.menu-header {
  font-family: 'skam';
  font-size: 5em;
  font-weight: normal;
  letter-spacing: 0px;
}

.text {
  margin: 0;
}
